.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout .container {
  padding: 10%;
}

/* workaround for gatsby container */
.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* reset some ant css */
.layout ul.ant-menu {
  line-height: 0;
  background: none;
  border: none;
}

.layout ul.ant-menu > li {
  margin: 0;
}

.layout ul.ant-menu > li .anticon {
  color: white;
}

.layout ul.ant-menu > li .anticon.large {
  font-size: 1.5rem;
  padding: 5px;
}
